/* src/components/ProductCard.css */

.product-card-modern {
    border-radius: 20px;
    overflow: hidden;
    width: 260px;
    background: #fff;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .product-card-modern:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  }
  
  .product-image-modern {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #f5f5f5;
  }
  
  .product-details-modern {
    padding: 16px;
    text-align: left;
  }
  
  .product-title-modern {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
  }
  
  .product-rating-modern {
    display: flex;
    align-items: center;
    color: #f39c12;
    font-size: 0.95rem;
    margin-bottom: 8px;
  }
  
  .product-rating-modern span {
    margin-left: 6px;
    font-weight: 500;
  }
  
  .product-description-modern {
    font-size: 0.85rem;
    color: #666;
    height: 50px;
    overflow: hidden;
  }
  
  .product-price-modern {
    font-size: 1.2rem;
    color: #a82eff;
    font-weight: bold;
    margin: 12px 0;
  }
  
  .add-to-cart-btn-modern {
    background: linear-gradient(135deg, #ff4ecb, #9f44ff);
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  .add-to-edit-btn-modern {
    background: #f1c40f;
    border: none;
    color: #000;
    margin-right: 32px;
    width: 40%;
    padding: auto;
    padding: 10px;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .add-to-edit-btn-modern:hover {
    background: #d4ac0d;
  }
  
  .add-to-delete-btn-modern {
    background: #e74c3c;
    border: none;
    color: #fff;
    padding: 10px;
    width: 40%;
    border-radius: 30px;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .add-to-delete-btn-modern:hover {
    background: #c0392b;
  }
  
  
  .add-to-cart-btn-modern:hover {
    background: linear-gradient(135deg, #e92fc7, #7b2fdf);
  }
  